{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
<div class = "container bg-primary">
<form  class="g-col-3 g-start-5 " method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
            <div class="row">
                <h1 id="title" >Please sign in</h1>
            </div>
            <div class="row">
                {# EMAIL #}
                <div class="field">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="inputField" autocomplete="email" required autofocus>
                </div>
            </div>
            <div class="row">
                {# PASSWORD #}
                <div class="field">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="inputField" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
            </div>
            <div class="row">
            {# BOUTON #}
            <button class="btnLog" type="submit">
            Sign in
            </button>
        </div>
</form>
    <div id="message">
    New to ???? ? <a href="#" id="redirect">Create an account</a>.
    </div>
</div>
{% endblock %}
