{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {# <div class = "container-md  mt-5"> #}
    <div class = "container col-md-5 mt-5">
        <div class =" container bg-primary p-3 text-secondary border border-secondary rounded-2"  style="--bs-bg-opacity: .1;">
            {# TITRE #}
             <div class="col-md-12 text-center my-1" >
                <h2 >Création de compte</h2>
            </div> 
            {# FORMULAIRE #}
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name, {label: 'Nom'}) }}
                {{ form_row(registrationForm.firstname, {label: 'Prénom'}) }}
                {{ form_row(registrationForm.email, {label: 'Email'}) }}
                {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
                {# {{ form_row(registrationForm.agreeTerms) }} #}
                {# BOUTON DE VALIDATION #}
                <button type="submit" class="btn btn-primary">
                    Créer
                </button>
            {{ form_end(registrationForm) }}
        </div>
        {# Message si déjà inscrit #}
        <div class="mt-1">
            Déjà inscrit sur Mon site e-commerce ? <a href="#" id="redirect">Connexion à votre compte</a>.
        </div>
    </div>
{# </div> #}

    
{% endblock %}
